*{
  box-sizing: border-box;
}

$color: steelblue;

.my-flix {
  color: $color
}



h1 {
 color: lightgray;
 font-family: 'Lobster', cursive;
 text-align: center;
 font-size: 3em;
}

h2 {
  color: lightgray;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

p {
  color: white;
  font-family: 'Lato', sans-serif;
}

.columns {
  column-count: 2;
  column-gap: 40px;
}

html {
  background-color: grey;
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 50%;
text-align: center;
margin-right: auto;
margin-left: auto;
}

.movie-poster {
  text-align: center;
}

.movie-view {
  color: white;
}

.label {
  color: white;
}

.font {
  background-color: rgb(99, 99, 99);
  align-items: center;
}

.movie-card{
  color: white;
}

label.form-label {
  color: white;
}

body {
  text-align: center;
}



div.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 10px;


}

.form-control {
width: 30%
}

.card-img-top {
width: 100%;
height: 30hv;
object-fit: cover;
border-radius: 1rem;
margin-bottom: 1rem;
}

.card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 400px;
  margin: 50px auto;
  background: #000000;
  border: 5px solid #460606;
  border-radius: 3px;
  box-shadow: 0 0 10px #b37562;

}
.card-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  padding: 20%; 
}

.value {
  width: 5%;
  justify-content: center;
}

button {
  margin: 15px 0;
  justify-content: space-between;
  border-radius: 10px;
  border: none;
}




.movie-title {
  color: lightgray;
  background-color: rgb(0, 0, 0);
}

.movie-description {
  background-color: #000000;
  color: white;
}

.director-font {
  color: white;
  background-color: rgb(0, 0, 0);
}

.container {
  color: white;
 list-style: none;
 display: flex;
 margin: auto;
 
  
}

.movie-description {
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

.genre-view {
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

.director-font {
  font-style: normal;
  font-family: 'Lato', sans-serif;
}